@media screen and (max-width: 768px) {
    tr {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    td, th {
        display: block;
        width: 33%;
    }

    th:first-child,
    td:first-child {
        text-align: center;
        background: #efefef;
        width: 100%;
    }

    th:first-child {
        display: none;
    }
}
